@media all and (min-width:1200px){
    .siteContainer{
        width:100% !important;
        height:99vh !important;
    }
    nav{
        width:40% !important;
        height:5% !important;
    }
    .messageContainer{
        width:40% !important;
        height:60% !important;
    }
    .chatAndTools{
        width:40% !important;
        height:5% !important;
    } 
    .dhButton{
        height:30px !important;
        width:30px !important;
    }
    .dhImg{
        height:15px !important;
    }
}
@media all and (max-width:960px){
    .siteContainer{
        width:100% !important;
        height:99vh !important;
    }
    nav{
        width:95% !important;
        height:5% !important;
    }
    .messageContainer{
        width:95% !important;
        height:60% !important;
    }
    .chatAndTools{
        width:95% !important;
        height:5% !important;
    } 
    .chatBox{
        padding:1% !important;
        width:68% !important;
        margin-left:auto;
        margin-right:1%;
    }
    .enterButton{
        width:18px !important; 
        height:18px !important;
    }
    .dhButton{
        height:4vw !important;
        width:4vw !important;
    }
    .dhImg{
        height:3vw !important;
    }
}
.siteContainer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    height:99vh;
}
nav{
    display:flex;
    justify-content:center;
    align-items:center;
    width:75%;
    height:5%;
    background-color: rgb(16, 36, 61);
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-color:rgb(29, 29, 29);
    border-bottom-color:rgb(35, 61, 92);
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    color:white;
    font-size:1.5rem;
}
.messageContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    width:75%;
    height:60%;
    background-color: rgb(16, 36, 61);
    border-left-style: solid;
    border-right-style: solid;
    border-color:rgb(29, 29, 29);
}
.messageBox{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:70%;
    height:96%;
    background-color: rgb(35, 61, 92);
    border-radius:20px;
    margin-left:auto;
    margin-right:1%;
}
.dashBoard{
    display:flex;
    justify-content:center;
    align-items:center;
    width:25%;
    height:96%;
    background-color: rgb(35, 61, 92);
    border-radius:20px;
    margin-left:auto;
    margin-right:auto;
}
.chatAndTools{
    width:75%;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(16, 36, 61);
    box-shadow: 0px 10px 5px rgb(153, 153, 153);
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-color:rgb(29, 29, 29);
    border-top-color:rgb(35, 61, 92);
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    padding-top:1%;
    padding-bottom:1%;
}
.chatBox{
    display:flex;  
    background-color: azure;
    width: 69%;
    padding:0.5%;
    border-radius:10px;
    text-decoration:none;
    border:none;
    margin-left:auto;
    margin-right:1%;
}
.inputForm{
    display:flex;
    width:100%;
}
.chatInput{
    width:85%;
    border-radius:20px;
    border-style:none;
    outline:none;
}
.shortcutOptions{
    width:25%;
    margin-left:auto;
    margin-right:auto;
}
.deleteHistory{
    display:flex;
}
.dhButton{
    display:flex;
    justify-content:center;
    align-items:center;
    height:3vw;
    width:3vw;
    border-radius:20px;
    border-style:none;
    background-color: rgb(255, 89, 89);
}
.dhImg{
    margin-left:auto;
    margin-right:auto;
    height:2vw;
}